<div class="content_wrapper">
    <h1><%= @plan.title %></h1>
    <p><%= @plan.content %></p>
    <p id="images"><%= image_tag @plan.image %></p>

    <% unless @plan.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(plan_id: @plan.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

      <h2>レビュー一覧</h2>
      <% @reviews.each do |review| %>
  	      <p><%= review.comment %>By <%= review.user.name %></p>
  	  <% end %>
      <h4><%= link_to 'レビューを書く', controller: 'reviews', action: 'new', plan_id: @plan.id %></h4> 
</div>